<!-- 
	* Formulario para crear y editar categorias *	
-->
<form id="Form_Categoria" name="Form_Categoria" method="post" {{ form_enctype(formCategoria) }}>
	
	<div style="display:none">{{ form_widget(formCategoria._token) }}</div>
	
	<div id="NewCategoryTitle" style="width:100%;">
		<h2 style="font-weight:bold; float:left;">Detalles de la Nueva Categoría</h2>
		<span id="btn_backcategories">Ver categorias</span>
	</div>
	
	<div id="FrmCategoria_result"><br>
		{% if MsgOk is defined %}
			<p>{{ MsgOk | raw }}</p>
		{% endif %}
		{% if MsgError is defined %}
			<p style="color:red;">{{ MsgError |raw }}</p>
		{% endif %}
	</div>
	
	<ul id="error-list">
        {% if errors is defined %}
            {% for error in errors %}
                <li> {{ error.message | raw }}</li>
            {% endfor %}
        {% endif %}
    </ul>

	<fieldset>
	<div>{{ form_widget(formCategoria.categoria_codigo) }}</div>
	<dl>	
		<dt></dt>
			
		<dt><label for="categoria_nombre">Nombre de la Categoría</label></dt>
    	<dd>{{ form_widget(formCategoria.categoria_nombre) }}</dd>
		
		<dt><label for="menu_codigo">Menú</label></dt>
    	<dd>{{ form_widget(formCategoria.menu_codigo) }}</dd><br><br>
		
		<dt><label for="categoria_peso">Peso</label></dt>
    	<dd>{{ form_widget(formCategoria.categoria_peso) }}</dd>
		
		<dt><label for="categoria_codigo">Descripción</label></dt>
    	<dd>{{ form_widget(formCategoria.categoria_descripcion) }}</dd><br><br>
	</dl>
	</fieldset>

	<div>{{ form_rest(formCategoria) }}</div>
	
	<button type="submit" name="actualizar" id="btn_submitcategory">Crear Categoria</button>

</form>

<script>

$(document).ready(function()
{
	var $MsgAddOrEdit = $('#formAddCategoria_categoria_codigo').val();
	if($MsgAddOrEdit > 0)
		$('button#btn_submitcategory').html('Actualizar Categoria');

	$('#Form_Categoria').submit(function( e ) {
		
		$('#FrmCategoria_result').html('');
		$('#tab2_Preloader').show();
		
		var categoria_codigo = $("#formAddCategoria_categoria_codigo").val();
		
		$.ajax({
            type: 'POST',
            url: Routing.generate("PortalPaginawebBundle_formCategoria", { categoria_codigo: categoria_codigo ? categoria_codigo : 0 }),
            data: $(this).serialize(),
            success: function(data) {
                var $tab2_content = $('#tab2_content').html('');
				$tab2_content.html(data);
				
				$('#tab2_Preloader').hide();
				
				$('#formAddCategoria_menu_codigo').dropkick();
				
				var $BookAjax = $('div#book').html('');
			    $.ajax({
			        url : Routing.generate("PortalPaginawebBundle_cargandomenu", { 'Tipomenu' : 0}),
			        success : function (data){
			            $BookAjax.html(data);
			        }
			    });
				
            },
			error: function(data){
				alert('Ha ocurrido un error inesperado. Recargue la página e intente de nuevo o consulte a los desarrolladores del sistema');
			}
        })
		        
        e.preventDefault();
    });
	
	
	btn_backcategories = {
		$btn_backcategory: function(){
			return $("#btn_backcategories");
		},
	},
	btn_backcategories.$btn_backcategory().on("click", function( e ){
		CargarCategorias(0);
		e.preventDefault();
	});
	
});
</script>		